



html,body {
    height:100%;
    width:100%;
    position:absolute;
    margin: 0;
    padding: 0;
}
#Login_outer_wrapper{
    width:340px;
    height:250px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    
    border-radius:10px;

    background-color: 	 	#D0D0D0  ; 
}

#Login_outer_wrapper #Login_inner_wrapper{
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;   
    width:280px;
    height:190px;
    border:2px solid  	 	#A0A0A0  ;
    border-radius:10px;
    background-color: 	#E8E8E8  ;
}

#Login_inner_wrapper #User_name_title{
    position:absolute;
    left:10px;
    top:0px;
}

#Login_inner_wrapper #username_form_input{
    position:absolute;
    width:200px;
    height:25px;
    top:45px;
    left:20px;
    border:1px solid black;

}

#Login_inner_wrapper #password_title{
    position:absolute;
    left:10px;
    top:65px;   
}

#Login_inner_wrapper #password_form_input{
    position:absolute;
    width:200px;
    height:25px;
    top:110px;
    left:20px;
    border:1px solid black;
}

#Login_inner_wrapper #user_login_submit{
    position:absolute;
    bottom:10px;
    right:10px;
    background-color:#0A489B;
    width:100px;
    height:25px;
    border:1px solid #000066;
    color:white;
}

/*
 * -----------------------------------------------------
 * 	Global_Navigation_Bar
 * -----------------------------------------------------
 */
#nav {
    height:35px;
    position:relative;
    margin:40px auto 70px auto;
    display: block;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: bold;
    z-index:1;
    width:680px;
           
}

#nav ul{

    list-style: none;
    margin: 0;
    padding:0px;
    position:relative;
    margin:auto 10px auto 5px;
    width:680px;
}

#nav #middle_nav, #nav #left_nav, #nav #nav_bar_log_out,#data_import_menu{

    display: block;
    float: left;
    margin:0px;
    padding: 5px 16px;
    position: relative;
    text-decoration: none;

}

#nav #left_nav{
    
    border-right:1px solid black;
}

#nav #middle_nav{
    border-left:1px solid black;
    border-right:1px solid black;
}



#nav li a{
    color:black;
    text-decoration: none;
    display: block;
}

#nav li:hover{
    color: #0A489B;
    cursor: pointer;
   
}

#nav a:hover{
    color: #0A489B;
    cursor: pointer;
}


#nav_bar_log_out{
    border-left:1px solid black;
    margin-right:35px;
}

#nav ul li ul{
    display:none;
    transition: visibility 0.65s ease-in;
    
}

#nav ul li:hover > ul { display:block; }

#nav ul li ul li{
    line-height:25px;
    color:black;
    padding-top:10px;
    z-index:10;
    text-align:center;
    
}

/*
 * -----------------------------------------------------
 *      Main Table/content styles
 * -----------------------------------------------------
 */

#page_title{
    position:relative;
    left:30px;
    top:8px;
    z-index:1;
    width:200px;
    
}

#Main_content_wrapper{
    width:1200px;
    height:auto;
    border-radius:10px;
    position:relative;
    margin:30px auto 0px auto;
    top:0px;
    background-color: 	#E0E0E0 ;
    z-index:1;
    padding-bottom:10px;
}


/*
 * -----------------------------------------------------
 *      Table style
 * -----------------------------------------------------
 */

#Main_content_wrapper #Table_wrapper  {
    position:relative;
    margin:10px auto 10px auto;
    width:1145px;
    border:2px solid  	 	#D0D0D0  ;
    background-color:#C0C0C0 ;
    border-radius:10px;
    display:block

}
#inner_table_wrapper{
    position:relative;
    margin-left:auto;
    margin-right:auto;
    top:0px;
    width:95%;
    border:2px solid  	 	#D0D0D0  ;
    border-spacing:0px 0px;
    background-color:#C0C0C0 ;
    border-radius:10px;  
    margin-top:5px;
    margin-bottom:5px;
}

#inner_table_wrapper table{
    position:relative;
    margin-left:auto;
    margin-right:auto;
    top:0px;
    width:95%;
    border:2px solid  	 	#D0D0D0  ;
    border-spacing:0px 0px;
    background-color:#C0C0C0 ;
    border-radius:10px;  
    margin-top:20px;
    margin-bottom:20px;
}

h4{
    position:relative;
    top:0px;
    left:10px;
}

#Main_content_wrapper table tr th.subheading, #Main_content_wrapper table tr th.seminar_table_headings{

    height:30px;
    border-left:1px solid #000066;
    color:white;
    font-size:14px;


}

#Main_content_wrapper table tr th.subheading, #student_proposal_table_wrapper table tr th.subheading{
    background-color:#0A489B;
    border-left:1px solid #000066;
    border-left:1px solid #000066;
    padding-left:2px;
    padding-right:2px;
}

#Main_content_wrapper table tr td{
    background-color:#E8E8E8 ;
    border-bottom:1px solid #707070;
    text-align:center;

}



#Main_content_wrapper table tr th.seminar_table_headings{
    background-color:black;
    border:1px solid black;
}

/*
 * -----------------------------------------------------
 *      sub-navigation bar
 * -----------------------------------------------------
 */

#table_nav_wrapper{
    width:1145px;
    height:25px;
    border:2px solid  	#A8A8A8  ;
    position:relative;
    top:0px;
    left:25px;
    border-radius:10px;
    background-color:  	#C8C8C8    ;
    z-index:1;
    margin-bottom:20px;

}

#table_nav_wrapper #Cohort_Search, #Table_nav_wrapper #Student_Search {
    position:absolute;
    left:5px;
    line-height:25px;
    font-size:14px;
    font-weight:bold;
}

#Cohort_Search input[type='submit'], #Student_Search input[type='submit']{
    position:absolute;
    left:1000px;
    background-color:#c8c8c8;
    border:none;
    color:black;
    font-size:16px;
    font-weight:bold;
    top:3px;
}

#table_nav_wrapper button{
    position:absolute;
    right:10px;
    top:0px;
    text-decoration:none;
    font-size:15px;
    font-weight:bold;
    color:black;
}

#hidden_form{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;

    
}

#shadow{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    background-color:black;
    opacity: 0.4;
    display:none;
}

#add_wrapper{
    position:relative;
    margin:200px auto 0 auto;
    width:400px;
    height:230px;
    background-color:#F0F0F0  ;
    z-index:10;
    color:black;
    border-radius:10px;
    border:2px solid #0A489B;
}

#shadow_update_student #select_cohort{
    position:absolute;
    top:180px;
    left:20px;
}

#radio_buttons{
    position:relative;
    top:50px;
    margin:20px;
    
}

#radio_buttons input[type='submit']{
    position:absolute;
    right:0px;
}

#select_cohort h4{
    padding:0px;
    margin:0px;
    margin-bottom:10px;
}

#shadow_add_student, #shadow_add_marker,#shadow_cohort_select,#shadow_import, #shadow_update_student,#shadow_update_marker,#shadow_error{
    position:relative;
    margin:200px auto 0 auto;
    width:400px;
    background-color:#F0F0F0  ;
    z-index:10;
    color:black;
    border-radius:10px;
    
    
}
#shadow_error{
    border:1px solid red;
    
    display:block;
}

#shadow_error #error_report{
    width:360px;
    position:relative;
    margin:60px auto 20px auto;
    background-color:white;
    border:1px solid 	#C8C8C8;
    z-index:11;
    padding:10px;
}

#shadow_add_student, #shadow_add_marker,#shadow_cohort_select,#shadow_import, #shadow_update_student,#shadow_update_marker{
    border:2px solid #0A489B;
    display:none;
}

#shadow_import{
    height:250px;
}

#shadow_cohort_select{
     height:130px;
}

#shadow_update_student,#shadow_update_marker{
    height:300px;
}

#shadow_add_student, #shadow_add_marker {
    height:210px;
}

#shadow_add_marker h2,#shadow_add_student h2,#shadow_cohort_select h2,#shadow_import h2,#shadow_update_student h2,#shadow_update_marker h2, #shadow_error h2{
    position:absolute;
    left:20px;
}

#add_student #SID{
    position:absolute;
    left:20px;
    height:30px;
    width:360px;
    top:60px;
    line-height:30px;

}

#add_marker #first_name,#shadow_cohort_select #select_cohort{
    position:absolute;
    left:20px;
    height:30px;
    width:360px;
    top:60px;
    line-height:30px;
}

#add_marker #last_name{
    position:absolute;
    left:20px;
    height:30px;
    width:360px;
    top:100px;
    line-height:30px;
}

#SID input[type='text'],#first_name input[type='text'],#last_name input[type='text']{
    position:absolute;
    left:150px;
    top:3px;
    width:150px;

}



#add_student #first_name{
    position:absolute;
    left:20px;
    height:30px;
    width:360px;
    top:100px;
    line-height:30px;
}

#add_student #last_name{
    position:absolute;
    left:20px;
    height:30px;
    width:360px;
    top:140px;
    line-height:30px;
}

#add_student input[type='submit'], #add_marker input[type='submit'], #shadow_cohort_select input[type='submit']{
    position:absolute;
    bottom:10px;
    right:10px;
    background-color:#0A489B;
    width:100px;
    height:25px;
    border:1px solid #000066;
    color:white;
}



/*
================================================================
                                data entry style
================================================================
*/

#data_entry_wrapper{
    width:600px;
    min-height:550px;
    border-radius:10px;
    position:relative;
    margin:30px auto 0px auto;
    top:0px;
    background-color: 	#E0E0E0 ;
    z-index:1;
} 

#data_entry_wrapper input[type='submit']{
    bottom:10px;
    right:23px;
    position:absolute;
    background-color:#0A489B;
    width:100px;
    height:25px;
    border:1px solid #000066;
    color:white;
}

#data_entry_wrapper #student_entry{
    width:550px;
    height: 150px;
    position:absolute;
    left:25px;
    top:25px;
    background-color:#F8F8F8 ;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-top:1px solid #0A489B;
    border-left:1px solid #0A489B;
    border-right:1px solid #0A489B;
    border-bottom:1px solid    #B8B8B8 ;
}

#data_entry_wrapper #marker_entry{
    width:550px;
    height: 115px;
    position:absolute;
    left:25px;
    top:180px;
    background-color:#F8F8F8 ;
    border-top:1px solid  	 	#B8B8B8 ;
    border-left:1px solid #0A489B;
    border-right:1px solid #0A489B;
    border-bottom:1px solid  	 	#B8B8B8 ;
}


#data_entry_wrapper #mark_entry{
    width:550px;
    height:200px;
    position:absolute;
    left:25px;
    top:300px;
    background-color:#F8F8F8 ;
    border-top:1px solid #B8B8B8;
    border-left:1px solid #0A489B;
    border-right:1px solid #0A489B;
    border-bottom:1px solid    #0A489B ;
    border-bottom-left-radius:10px;
}

#mark_entry #mark3{
    position:absolute;
    left:10px;
    top:155px;
    width:100%;
}

#mark_entry #mark2{
    position:absolute;
    left:10px;
    top:120px;
    width:100%;
}

#student_entry h4, #marker_entry h4, #mark_entry h4{
    position:relative;
    left:10px;
    border-bottom:1px solid #808080;
    width:530px;
}

#student_entry #Cohort_year_sem, #marker_entry #marker_name, #mark_entry #seminar_type{
    position:absolute;
    top:50px;
    left:10px;
    width:100%;

}
#student_entry #Student_name, #mark_entry #mark1{
    position:absolute;
    top:85px;
    left:10px;
    width:100%;

}

#seminar_type select{
    position:absolute;
    right:15px;
    top:0;
}

#mark_entry input[type="text"]{
    width:30px;
}

#student_entry #Student_name select,  #Cohort_year_sem #cohort_text ,#marker_name select, #mark_entry input[type="text"]{
    position:absolute;
    right:15px;
    top:0;

}



#student_entry button, #marker_entry button{
    position:absolute;
    right:5px;
    bottom:5px;
}


#delete_button{
    bottom:10px;
    right:140px;
    position:absolute;
    background-color: 	#585858 ;
    width:100px;
    height:23px;
    border:1px solid  	#282828 ;
    color:white;
    line-height:25px;
}

#delete_button a{
    position:absolute;
    left:25px;
    text-decoration: none;
    color:white;
}

#update_individual_button{
    position:absolute;
    top:10px;
    right:10px;
    z-index:10;
}
